<div class="row event">
	<div class="col-sm-2">
		<%= event.name %>
	</div>
	<div class="col-sm-2">
		<%= event.guests %>
	</div>
	<div class="col-sm-2">
		<%= event.date %>
	</div>
	<div class="col-sm-2">
		<%= event.owner %>
	</div>
	<div class="col-sm-2">
		<%= event.token %>
	</div>
	<div class="col-sm-2">
		<%= link_to 'Show', event %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>