<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h4 class="helv">BeThere</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3><%= @event.name %></h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

<h4><%= @event.guestlist %></h4>

<h4><%= @event.date %></h4>
  
<h4><%= @event.time %></h4>

<p>Hosted by: <%= @event.owner %></p>

<p>Permalink: <%= link_to 'http://localhost:3000/events/' + @event.token %></p>
  </div>
</div>

<div class="col-sm-6 col-sm-offset-3 right">
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>