<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @event.guests %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Password:</strong>
  <%= @event.password %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @event.owner %>
</p>
<p>
  <strong>Token:</strong>
  <%= @event.token %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
